html, body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #b2b9cf;
    min-width: 450px;
}

#table {
    display: table;
    height: 100%;
    width: 100%;
}

#cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#logo {
    vertical-align: bottom;
}

#logoName {
    font-size: 5em;
    font-family: caudex;
    font-weight: bold;
}

#links {
    margin-top: 20px;
}

#links > a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 20px;
    opacity: 0.6;
}

#links > a:hover {
    opacity: 1;
}

#links > a:first-child {
    margin-left: 0px;
}

.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.unselectable:hover {
    cursor: default;
}